﻿@model Examen_Josue_Rosales_Chimal.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<style>
    #error span,
    #exito span{
        display:block;
    }
</style>
<h2>Login</h2>


@using (Html.BeginForm("Login", "Account", method: FormMethod.Post, htmlAttributes: new { @id = "formLogin" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        <div class="text-danger" id="error"></div>
        <div class="text-success" id="exito"></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Entrar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#formLogin").on('submit', function (e, s) {
            e.preventDefault();
            if(!$(e.target).valid()){
                return;
            }
            var d = $(e.target).serialize();
            $.ajax(
                {
                    url: "@Url.Action("Login", "Account")",
                    data: d,
                    type: 'post',
                    success: function (d) {
                        if(d.success){
                            MostrarExito("Bienvenido " +d.message);
                            setTimeout(function () { location.href="/"},1000);
                        }
                        else{
                            MostrarFallo("Error: "+ d.message);
                        }
                    }
                });
        });
        function MostrarMensaje(id, mensaje) {
            var msj = document.createElement("span");
            msj.textContent = mensaje;
          
            $(id).append(msj);
            setTimeout(function () {
                $(msj).hide("slow", function () {
                    $(msj).remove();
                })
            }, 3500);
        }
        function MostrarFallo(mensaje) {
            MostrarMensaje("#error",mensaje);
        }
        function MostrarExito(mensaje) {
            MostrarMensaje("#exito",mensaje)
        }
    </script>
}
