﻿@{
    ViewBag.Title = "Home Page";
}
    <div class="">
        <h1>Carga Pedido</h1>
        <div class="row">
            <div class="col-md-2">
                <label>Nombre(s) y apellido(s):</label>
            </div>
            <div class="col-md-5">
                <input className="form-control"
                       id="idNombre"
                       type="text" />
            </div>


        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label>Seleccione Producto</label>
            </div>

            <div class="col-md-5">
                <select class="from-control" id="selProducto">
                    <option value="" precio="0">Selecciona....</option>
                    @foreach (var ProductoViewModel in Model)
                    {
                        <option value=@ProductoViewModel.SKU precio=@ProductoViewModel.Price>@ProductoViewModel.Nombre</option>
                    }
                </select>
            </div>
            <div class="col-md-1">
                <label>Cantidad:</label>
            </div>
            <div class="col-md-1">
                <input className="form-control"
                       id="CantidadPedido"
                       type="number" />
            </div>


            <br />



        </div>

        <br />
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" onclick="CargaProducto();">
                    Agregar al Pedido
                </button>
            </div>
        </div>
        <br />
        <br />
        <div class="row" id="tblProd">



        </div>
        <br /> <br />





    </div>

    <div class="row">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-1">
                <button type="button" id="IdEnviarPedido" style="display:none;" class="btn btn-primary" data-toggle="modal" onclick="EnviarPedido();">
                    Enviar Pedido
                </button>
            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var sku = "";
        var cantidad = 0;
        var precio = 0;
        var nomProd = "";
        
        var DetallePedido = [];
        var detallePedidoN=[]
        $(document).ready(function(){
	$("#selProducto").change(function(){
        //alert($('#selProducto option:selected').attr('precio'));
        sku = $('#selProducto option:selected').val();
        
        nomProd = $('#selProducto option:selected').text();
        precio = $('#selProducto option:selected').attr('precio')
        //    $('input[name=valor1]').val($(this).val());
        });
	
});

        function CargaProducto()
        {
            
            cantidad = $("#CantidadPedido").val();
            if (sku != "" && parseInt(cantidad) > 0) {
                DetallePedido.push([sku+"_"+cantidad+"_"+ precio]);
                detallePedidoN.push([sku, nomProd, cantidad, precio, (precio * $("#CantidadPedido").val())]);
                $('#selProducto option:selected').hide();
                $("#selProducto").val("").change();
                $('#detpedidoTbl').remove();
                $('#detpedidoTbl_wrapper').remove();
                $('#IdEnviarPedido').show();
                $('<table id="detpedidoTbl" class="display" style="border: solid;" width="100%"></table>').appendTo("#tblProd");
                $('#detpedidoTbl').DataTable({
                    data: detallePedidoN,
                    columns: [
                        { title: "SKU" },
                        { title: "Descrip" },
                        { title: "Cantidad" },
                        { title: "precio" },
                        { title: "Subtotal" }
                    ]
                });
            }
            else
            {
                alert("Seleccione articulo y cantidad!");
            }
        }

        function EnviarPedido() {
            var UserName = "@Session["UsrVal"]";
            var NombrePedido = $("#idNombre").val();
            var Pedido = [];
            if (NombrePedido != "") {
                Pedido.push(UserName, NombrePedido);
                debugger;
                $.ajax(
                    {
                        url: "@Url.Action("Guardarpedido", "Home")",
                        data: {
                            pedido: Pedido,
                            DetPedido: DetallePedido
                        },
                        type: 'post',
                        success: function (d) {
                            if (d.success) {
                                alert("Exito en guardado de Pedido");
                                setTimeout(function () { location.href = "/" }, 1000);
                            }
                            else {
                                MostrarFallo("Error: " + d.message);
                            }
                        }
                    });
            }
            else
            {
                alert("Ingresa el nombre!!!:)")
            }
        }
        function MostrarFallo(mensaje) {
            MostrarMensaje("#error",mensaje);
        }
        function MostrarExito(mensaje) {
            MostrarMensaje("#exito",mensaje)
        }
    </script>
}
